*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)),url(../er.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;
}

html
{
	font-size: 10px;
	font-family: 'Ubuntu', sans-serif;
}

a
{
	text-decoration: none;
	color: #eee;
}

header
{
	width: 100%;
	height: 100vh;
}

.contain
{
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}

nav
{
	padding-top: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;
}

.logo
{
	height: 50px;
	width: 50px;
	font-size: 3rem;
	font-weight: 300;
	transform: translateX(-100rem);
	animation: slideIn 1s forwards;
}

.logo span
{
	color: crimson;
}

nav ul
{
	display: flex;
}

nav ul li
{
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn 1s forwards;
}

nav ul li :nth-child(1)
{
    animation-delay: 2s;
    
}

nav ul li :nth-child(2)
{
    animation-delay: 2.5s;
    
}

nav ul li :nth-child(3)
{
    animation-delay: 3s;
    
}

nav ul li :nth-child(4)
{
    animation-delay: 3.5s;
    
}

nav ul li a
{
    padding: 1rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 2px;
}

nav ul li a:last-child
{
    margin-right: 0;
    
}

nav ul li a::before,nav ul li a::after
{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #cc6600;
    left: 0;
    transform: scaleX(0);
    transition: all .4s;
}

nav ul li a::before
{
    top: 0;
    transform-origin: left;
    
}

nav ul li a::after
{
    bottom: 0;
    transform-origin: right;
}

nav ul li a:hover::before,nav ul li a:hover::after
{
    transform: scaleX(1);
}

@keyframes slideIn 
{
    from{
        
    }
    to{
        transform: translateX(0);
    }
}

.title
{
    margin-top: 10%;
}

.head
{
    font-size: 48px;    
    line-height: 48px;
    color: crimson;
    text-align: center;
    margin: 0;
    padding: 0;
    
}

.line
{
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    padding: 0 0 40px;
    text-align: center;
    font-weight: 400;
    color: white;
}

.list
{
    width: 95%;
    height: 155px;
    padding: auto;
    margin-top: 4%;
    margin-left: 2%;
    box-shadow: 0 5px 15px 0 black ;
    background-color: #E5E5E5;
    border-radius: 90px;
}

.row
{
    margin: 10px;
    padding: 10px;
}

.row::after 
{
  content: "";
  clear: both;
  display: table;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

img
{
    width:100px;
    height:100px;
    background: transparent;
}

h2
{
    color: black;
}

section 
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100vh;
	transition: 5s ease;
}

section h1 
{
	font-size: 4rem;
}

/* Section Images */
section#home
{
    
}

section#about 
{
	background-image: linear-gradient(rgba(0,0,0.5,0.8),rgba(0,0,0.6,0.8)), url("../about.webp");
	background-repeat: no-repeat;
	background-size: cover;
    transition: 5s ease;

}

section#courses
{
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("../qw.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    transition: 5s ease;

}

section#industry
{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)), url("../tieups.jpg");
    background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
    transition: 5s ease;
}

section#placements
{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)), url("../place.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	font-color: red;
	transition: 5s ease;
	 position: relative;
}

section#login
{
	background-color: darkseagreen;
	transition: 5s ease;
}

section#enquiry
{
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("../slide.jpg");
	transition: 5s ease;
}

.enq
{
	min-height: 380px;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
	
}

.container{
 
  
	/*position: absolute;
	right: 0;
	margin: 10px;*/
	width: 600px;
	padding: 5px;
	background-color: white;
	border-radius: 10px;
	opacity: 0.6;
}

.container:hover
{
	opacity: 1;
}

input[type=text], input[type=password],input[type=email],input[type=number]
{
	width: 200px;
	padding: 10px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
}

select
{
	width: 428px;
	padding: 10px;
	margin: 5px 0 22 px 0;
	border: none;
	background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus
{
	background-color: #ddd;
	outline: none;
}

.btn
{
	background-color: #4caf50;
	text-align: center;
	color: white;
	border: none;
	padding: 10px 10px;
	cursor: pointer; 
	width: 50%;
	opacity: 0.7;
	margin-bottom: 5px;
}

.bt
{
	text-align: center;
}

.btn:hover
{
	opacity: 1;
}

p, label
{
	color: black;
	font-size: 15px;
}

.column 
{
  float: left;
  width: 30%;
  margin-left: 25px;
  margin-bottom: 20px;
  padding: 0px 10px;
  text-align: center;
}

.card 
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin: 10px;
  width: 250px;
  height: 150px;
  text-align: center;
  background-color:#c6d9ec;
  font-size: 15px;
}

.row 
{
	margin: 0 -5px;
	text-align: center;
}

.row:after 
{
  content: "";
  display: table;
  clear: both;
}

.pla
{
	width: 60px;
	height: 60px;
}

.glow {
  background-color: white;
  color: black;
  font-size: 2vw; 
  font-weight: bold;
  margin: 0 auto;
  padding: 5px;
  width: 50%;
  text-align: center;
  mix-blend-mode: screen;
}

.ab
{
	font-size: 25px;
	font-weight: bold;
	color:white;
}
.cd{
	color: white;
	font-size: 15px;
}
.ef{
	color: white;
	font-size: 15px;
	position: relative;
	text-align: justify;
}
.gh{
	text-align: right;
	color: white;
	margin-left: 800px;
}

.kl{
	text-align: right;
	position: relative;
	color: white;
	font-size: 20px;
}


.column1 
{
  float: left;
  width: 20%;
  margin-left: 30px;
  margin-bottom: 10px;
  padding: 0px 5px;
  text-align: center;
}

.card1
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 120px;
  text-align: center;
  background-color:#c6d9ec;
  font-size: 15px;
}

.row1
{
	margin: 0 -5px;
	text-align: center;
}

.row1:after 
{
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column1 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


.c12{
	float: left;
	margin-right: 500px;
	text-align: left;
	font-size: 13px;
}

.cde{
	margin-top: -22px;
	margin-left: 600px;
	float: right;
	text-align: left;
	font-size: 13px;
}

.cg{
	float: left;
	margin-right: 500px;
	text-align: left;
	font-size: 13px;
}

.cpg{
	margin-top: 22px;
	margin-left: 100px;
	float: right;
	text-align: left;
	font-size: 13px;
}

.column2 
{
  float: left;
  width: 20%;
  margin-left: 30px;
  margin-bottom: 10px;
  padding: 0px 5px;
  text-align: center;
}

.card2
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 120px;
  text-align: center;
  background-color:white;
  font-size: 15px;
}

.row2
{
	margin: 0 -5px;
	text-align: center;
}

.row2:after 
{
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column2 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.column3 
{
  float: left;
  width: 45%;
  margin-left: 40px;
  margin-bottom: 10px;
  padding: 0px 5px;
  text-align: center;
}

.card3
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 35px;
  width: 450px;
  height: 150px;
  text-align: center;
  background-color:white;
  font-size: 15px;
}

.row3
{
	margin: 0 -5px;
	text-align: center;
}

.row3:after 
{
  content: "";
  display: table;
  clear: both;
}

.column4
{
  float: left;
  width: 25%;
  margin-left: 30px;
  margin-bottom: 10px;
  padding: 0px 5px;
  text-align: center;
}

.card4
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 260px;
  text-align: center;
  background-color:white;
  font-size: 15px;
}

.row4
{
	margin: 0 -5px;
	text-align: center;
}

.row4:after 
{
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column4 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


.column6 
{
  float: left;
  width: 20%;
  margin-left: 30px;
  margin-bottom: 10px;
  padding: 0px 5px;
  text-align: center;
}

.card6
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 200px;
  text-align: center;
  background-color:white;
  font-size: 15px;
}

.row6
{
	margin: 0 -5px;
	text-align: center;
}

.row6:after 
{
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column6 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


.open-button {
  background-color: #cc6600;
  color: white;
  padding: 8px 10px;
  border: none;
  cursor: pointer;
  opacity: 1;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 100px;
  border-radius: 5px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 350px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  height: 50px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
}

.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color:#cc6600;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: #cc6600;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


#myBtn1 {
  display: none;
  position: fixed;
  bottom: 23px;
  right: 140px;
  z-index: 99;
  font-size: 18px;  border: none;
  outline: none;
  background-color: #ff751a;
  opacity: 0.8;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  height: 31px;
  width: 30px;
}

#myBtn1:hover {
  background-color: #ff751a;
  opacity: 1;
}
